[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./castjunction/config/*,
       ./castjunction/manage.py,
       ./castjunction/wsgi.py,
       *__init__*
